:root{
    --clr-background-container: #cecece;
    --clr-primary1: #ff725b;
    --clr-primary2: #fffa5b;
    --clr-primary3: #ffcc5b;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    margin-top: 100px;
}

.content{
    border: 1px solid black;
    padding-bottom: 5px;
    margin: 10px 10px;
    background-color: var(--clr-background-container);
}

p {
    padding: 0 15px;
    clear: right;
}

.clr-p1{
    background-color: var(--clr-primary1);
}
.clr-p2{
    background-color: var(--clr-primary2);
}
.clr-p3{
    background-color: var(--clr-primary3);
}

.text-center{
    text-align: center;
}

.name{
    right: 23px;
    top: 40px;
    float: right;
    width: 100px;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}


.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    float: left;
}


@media screen and (min-width: 992px) {
    .col-lg-1{
        width: 8.33%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33%;
    }
    .col-lg-5{
        width: 41.66%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.33%;
    }
    .col-lg-8{
        width: 66.66%;
    }
    .col-lg-9{
        width: 74.99%;
    }
    .col-lg-10{
        width: 83.33%;
    }
    .col-lg-11{
        width: 91.66%;
    }
    .col-lg-12{
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1{
        width: 8.33%;
    }
    .col-md-2{
        width: 16.66%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33%;
    }
    .col-md-5{
        width: 41.66%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-7{
        width: 58.33%;
    }
    .col-md-8{
        width: 66.66%;
    }
    .col-md-9{
        width: 74.99%;
    }
    .col-md-10{
        width: 83.33%;
    }
    .col-md-11{
        width: 91.66%;
    }
    .col-md-12{
        width: 100%;
    }
}

@media (max-width: 768px){
    .col-sm-1{
        width: 8.33%;
    }
    .col-sm-2{
        width: 16.66%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-4{
        width: 33%;
    }
    .col-sm-5{
        width: 41.66%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-7{
        width: 58.33%;
    }
    .col-sm-8{
        width: 66.66%;
    }
    .col-sm-9{
        width: 74.99%;
    }
    .col-sm-10{
        width: 83.33%;
    }
    .col-sm-11{
        width: 91.66%;
    }
    .col-sm-12{
        width: 100%;
    }
}

